* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Open Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(62, 61, 68);
    min-height: 100vh;
    display: flex;
}

.Card-Bor {
    flex: 1;
    max-width: 900px;
    background-color: #7e7e7e;
}

.Card-Bor-hea {
    background-color: dimgray;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.Card-Bor li {
    font-size: 16px;
    padding: 6px 4px;
    text-transform: uppercase;
    text-align: left; 
}

.im {
    height: 70%;
    width: 50%;
    text-align: left;
    max-width: 30%;
   
}

.Container {
   display: flex;
}

.Bt {
    border-radius: 80px;
    margin-bottom: 0%;
}

.Btn{
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
    border: 2px solid #000;
    color: #000;
    padding: 17px 80px;
    border-radius: 80px;
    text-transform: uppercase;
    font-weight: 900;
    transition: .3s linear;
    cursor: pointer; 
}

.Bt:hover {
    background-color: skyblue;
    color: aliceblue;

}